.containerCard {
    position: relative;
    overflow: hidden;
    transition: transform 0.5s ease-in-out; 
    transform-origin: center bottom; 
    border-radius: 1rem 1rem;
}

.containerCard:hover {
    transform: scale(1.05);
}

.container2 {
    position: absolute;
    top: 5px;
    right: 10px;
    display: flex;
    flex-direction: column;
}

.imageContainer {
    position: relative; /* Asegúrate de que el contenedor de la imagen tenga posición relativa */
}

.button {
    margin-bottom: 10px;
    padding: 1px 3px;
    background-color: rgba(50, 117, 143, 0.582);
    backdrop-filter: blur(1px);
    border: none;
}

.button:hover{
    background-color: rgba(11, 65, 87, 0.781);
    border: none;
}

.button1 {
    padding: 1px 3px;
    background-color: rgba(197, 49, 49, 0.582);
    color: white;
    backdrop-filter: blur(1px);
    border: none;
}

.button1:hover{
    background-color: rgba(235, 12, 12, 0.747);
    border: none;
}


.imagen {
    width: 100%; /* Ajusta según sea necesario */
}

.nombre {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: rgba(27, 26, 26, 0.7); /* Fondo blanco semitransparente, ajusta según tus preferencias */
    margin: 0; /* Asegúrate de que no haya márgenes */
    padding: 10px; /* Ajusta según tus preferencias */
    text-align: center;
    backdrop-filter: blur(1px);
    color: white;
}