.nav {
    width: 100%;
    background-color: rgba(37, 51, 46, 0.89);
    display: flex;
    justify-content: center; /* Cambia space-between a center */
    align-items: center;
    height: 75px;
    position: sticky;
    top: 0px;
    z-index: 999;
    backdrop-filter: blur(1px);
}

.navContainer {
    width: 100%;
    display: flex;
    justify-content: space-between; /* Mantiene space-between aquí */
    align-items: center;
    margin: 0 4rem;
}

.contenedor {
    display: flex;
    align-items: center;
}